body {
	font-family: sans-serif;
	font-size: 12px;
	background: #a0aab4;
	text-align: center;
	cursor: default;
	color: #FFF;
	text-align: center;
}

.error {
	padding: 0px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	margin-top: 50px;
}

.error .head {
	background-color: #f0f0f0;
}

.error .head h2 {
	color: #187086;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 5px;
}

.error .head h5 {
	margin: 0;
	padding-bottom: 5px;
	color: #acacac;
}

.error .errors {
	background-color: #f8f8f8;
	width: 960px;
	min-height: 200px;
	text-align: center;
	color: red;
	float: left;
	box-shadow: 0 1px 4px rgba(149, 49, 64, 0.1);
}

.error .errors .msg {
	max-width: 420px;
	font-size: 14px;
	text-align: left;
	float: left;
	text-align: left;
}

.error .errors .msg .error404 {
	margin: 120px 0 0 50px;
	float: left;
}

.error .errors .msg .error500 {
	margin: 80px 0 0 50px;
	float: left;
}

.error .errors .msg .suggest {
	font-weight: bold;
	margin-left: 50px;
	color: black;
	float: left;
}

.error .errors .msg .suggest ul {
	list-style: none;
}

.error .errors .msg .suggest ul li {
	width: 90px;
	height: 30px;
	text-align: left;
	float: left;
	margin-right: 10px;
	line-height: 30px;
	cursor: pointer;
	color: blue;
	font-size: 12px;
}

.error .errors .msg .suggest .refresh {
	font-weight: bold;
	color: #c81e7a;
	padding-bottom: 5px;
}

.xxlarge {
	font-size: xx-large;
}

.xlarge {
	font-size: x-large;
}

.error .errors .notfound {
	margin-top: 20px;
	width: 534px;
	height: 328px;
	background-image: url('../images/404.png');
	float: right;
}

.error .errors .wrong {
	margin-top: 20px;
	margin-left: 20px;
	width: 333px;
	height: 399px;
	background-image: url('../images/500.png');
	float: left;
}

.error .footer {
	padding: 8px 0 15px 0;
	background-color: #f0f0f0;
	color: #878787;
}

.clear {
	clear: both;
}